.hero__btn {
  font-size: 1.2rem;
  width: 7rem;
  height: 2rem;
  background-color: transparent;
  border: 1px solid black;
  opacity: 1;

  @include respond(tab-port-pro) {
    opacity: 0;
  }
}
